# Python - Archivos compilados y caché (Lo que causó el error)
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales (Veo que usas uno)
venv/
env/
.venv/

# Base de datos (Para que no subas tu DB local de pruebas)
*.sqlite3
db.sqlite3

# Configuración de VS Code y Sistema
.vscode/
.history/
.DS_Store
Thumbs.db

# Archivos de entorno (SEGURIDAD: Si llegas a crear un .env con contraseñas)
.env
__pycache__/ 
__pycache__/
*.py[cod]
*$py.class